div#loginbox {
    display: table;
    width: 100%;
    background: rgba(238, 238, 238, 0.57);
 	 height: calc(100vh - 139px);

	   .loginrow {
	    display: table-cell;
	    height: 509px;
	    vertical-align: middle;
	   }

		.loginlogo {
	    margin: 0 auto;
	    text-align: center;
	    width: 100px;
	    height: 100px;
	    background: $accent;
	    border-radius: 50%;
	    padding: 16px;
	    color: #fff;
	    }

		.login-wrapper {
	    padding: 0 100px;

	     @media (max-width: $screen-sm-min) {
	    	padding:5px;
	    }

	    .panel{
	    	padding:30px;
	    }

		 }
		.login-footer{
			text-align: center;		
			
		}
}